body {
    background-color: black;
    color: lemonchiffon;
}
.row {
    display: flex;
    flex-direction: row;
}

.left {
    width: 20%;
    background-color: white;
}
.left > div {
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 100px;
}

.right {
    width: 80%;
    background-color: white;
    color: black;
}
.right > div {
    margin: 10px;
}
.list > li {
    padding: 10px;
}
button {
    width: 95%;
    height: 100px;
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    border: 2px solid steelblue;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
}
.event {
    border: 1px solid steelblue;
}
.teaser {
    white-space: pre;
    font-weight: bold;
    padding: 5px;

}.description {
     white-space: pre;
     padding: 5px;
     font-style: italic;
 }
 .date {
     text-decoration: underline;
 }
