<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild : 5 råd</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="row">
    <div class="left">
        <div>
            <button onclick="location.href='/'">Hvad er madspild?</button>
        </div>
        <div>
            <button onclick="location.href='/5raad'">5 råd</button>
        </div>
        <div>
            <button onclick="location.href='/links'">Links</button>
        </div>
        <div>
            <button onclick="location.href='/events'">Mere at vide</button>
        </div>
    </div>
    <div class="right">
        <div>
            <h3>5 gode råd til at undgå madspild</h3>
            <ol class="list">
                <li>Lav en madplan, hvor du planlægger at bruge ingredienserne helt op.
                    Hvis du for eksempel skal lave noget med kål om mandagen, kan du planlægge at lave en kålsalat om torsdagen,
                    så resten af kålet ikke går til spilde.
                </li>
                <li>Opbevar maden korrekt. Man skal for eksempel ikke putte tomater i køleskabet og hvis man opbevarer
                    bananer og æbler sammen, bliver bananerne hurtigt overmodne. Der er meget mad og penge at spare,
                    hvis man sætter sig ind i, hvordan forskellige råvarer opbevares bedst.<br>
                </li>
                <li>Spis dine rester til frokost eller frys dem ned. Så sparer du både penge på frokost og undgår at
                    smide den riste rest aftensmad ud.<br>
                </li>
                <li>Få styr på dit køleskab. Meget mad ender i skraldespanden, fordi man havde overset det i køleskabet
                    inden det blev dårligt. Lad være med at proppe dit køleskab for meget og stil det, der skal bruges
                    først, forrest i køleskabet.<br>
                </li>
                <li>Lav tøm-køleskabet-mad en gang om ugen. Lav "reste-tapas" med det, du nu kan finde i køleskabet. Der
                    findes flere hjemmesider, hvor du kan indtaste, hvad du har af råvarer og så finde inspiration til
                    opskrifter.<br>
                </li>
            </ol>
            <p>Kilde: Frederiksberg Kommune.</p>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <p>(c) The Boys 2022</p>
    <p>Cookies og persondata</p>
    <p>Bla bla bla ...</p>
</div>
</body>
</html>