<!DOCTYPE html>
<html lang=\"en\" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild : Events</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="row">
    <div class="left">
        <div>
            <button onclick="location.href='/'">Hvad er madspild?</button>
        </div>
        <div>
            <button onclick="location.href='/5raad'">5 råd</button>
        </div>
        <div>
            <button onclick="location.href='/links'">Links</button>
        </div>
        <div>
            <button onclick="location.href='/events'">Mere at vide</button>
        </div>
    </div>
    <div class="right">
        <div>
            <div>
                <h1>Ville du vide mere? Så tilmeld dig vores nyhedsbrev</h1>
                <p>Få de seneste nyheder og hold dig opdateret</p>
            </div>
            <div>
                <form>
                    <label for="email">Indtast din email:</label>
                    <input type="email" id="email" name="email">
                    <input type="submit">
                </form>
            </div>
            <div>
                <h3>Kommende Events:</h3>
            <ul>
                <li th:each="event: ${events}">
                    <span class="event" th:text="${event}"></span>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>(c) The Boys 2022</p>
    <p>Cookies og persondata</p>
    <p>Bla bla bla ...</p>
</div>
</body>
</html>