<!DOCTYPE html>
<html lang=\"en\" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild : Events</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="row">
    <div class="left">
        <div>
            <button onclick="location.href='/'"><div>Hvad er madspild?</div></button>
        </div>
        <div>
            <button onclick="location.href='/5raad'"><div>5 råd</div></button>
        </div>
        <div>
            <button onclick="location.href='/links'"><div>Links</div></button>
        </div>
        <div>
            <button onclick="location.href='/events'"><div>Mere info</div></button>
        </div>
    </div>
    <div class="right">
        <div>
            <div>
                <h1>Ville du vide mere? Så tilmeld dig vores nyhedsbrev</h1>
                <p>Få de seneste nyheder og hold dig opdateret på kommende begivenheder!</p>
            </div>
            <div>
                <form>
                    <label for="email">Indtast din email:</label>
                    <input type="email" id="email" name="email">
                    <input type="submit" onclick="acknowlege()">
                </form>
            </div>
            <div>
                <h3>Kommende Events:</h3>
            <ul>
                <li th:each="event: ${events}">
                    <div class="event" th:text="${event}"></div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>(c) The Boys 2022</p>
    <p>Cookies og persondata</p>
    <p>Bla bla bla ...</p>
</div>
<script>
    function acknowlege() {
        alert("Tak.\nDu er tilmeldt nyhedsbrevet.");
    }
</script>
</body>
</html>