<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild : Events</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="row">
    <div class="left">
        <div>
            <button onclick="location.href='/'">Hvad er madspild?</button>
        </div>
        <div>
            <button onclick="location.href='/5raad'">5 råd</button>
        </div>
        <div>
            <button onclick="location.href='/links'">Links</button>
        </div>
        <div>
            <button onclick="location.href='/events'">Events</button>
        </div>
    </div>
    <div class="right">
        <div>
            <div>
                <h3>Her kommer oplysning om Events</h3>
                <p>Måske kan man også få et nyhedsbrev sendt til sin emailadresse.</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <p>(c) The Boys 2022</p>
    <p>Cookies og persondata</p>
    <p>Bla bla bla ...</p>
</div>
</body>
</html>