<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild : Home</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div class="row">
            <div class="left">
                <div>
                    <button onclick="location.href='/'">Hvad er madspild?</button>
                </div>
                <div>
                    <button onclick="location.href='/5raad'">5 råd</button>
                </div>
                <div>
                    <button onclick="location.href='/links'">Links</button>
                </div>
                <div>
                    <button onclick="location.href='/events'">Mere at vide</button>
                </div>
            </div>
            <div class="right">
                <div>
                    <h1>Madspild i Danmark</h1>
                    <p>Hver dag bliver der smidt betydelige mængder mad ud i de danske husholdninger.</p>
                    <p>Men selvom det største madspild sker, inden maden bliver solgt til forbrugerne, kan man alligevel gøre en forskel.</p>
                    <img src="../static/images/madspild.png" width="58%" th:src="@{/images/madspild.png}"/>
                    <img src="../static/images/stopmadspild.png" width="30%" th:src="@{/images/stopmadspild.png}"/>
                    <h2>Hvad er madspild egentlig?</h2>
                    <p>Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to: madspild og øvrigt madaffald.
                        Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud.
                        Øvrigt madaffald er de dele af fødevarer, der ikke er egnet til at spise.
                        Eksempler på madspild er brød, hel frugt og grønt og middagsrester.
                        Eksempler på øvrigt madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse.</p>
                    <p><i><b>kilde:</b> Miljøstyrelsen, rapporten ”Kortlægning af madaffald i servicesektoren – Detailhandel, restauranter og storkøkkener”</i></p>
                    <h2>Madspild er et stort problem i Danmark hvert år</h2>
                    <p>Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist.
                        Husholdningernes madspild udgør 260.000 ton pr. år. I servicesektoren er der et årligt madspild på 227.000 ton,
                        heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter og 31.000 ton fra institutioner og
                        storkøkkener om året. Madspild fra primærproduktionen udgør 100.000 ton pr. år,
                        mens fødevareindustrien står for et årligt madspild på 133.000 ton.</p>
                    <p><i><b>kilde:</b> Miljøministeriet, Regeringens Strategi for affaldsforebyggelse ”Danmark uden affald II”</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>(c) The Boys 2022</p>
        <p>Cookies og persondata</p>
        <p>Bla bla bla ...</p>
    </div>
</body>
</html>