<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild : Home</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div class="row">
            <div class="left">
                <div>
                    <button onclick="location.href='/'">Hvad er madspild?</button>
                </div>
                <div>
                    <button onclick="location.href='/5raad'">5 råd</button>
                </div>
                <div>
                    <button onclick="location.href='/links'">Links</button>
                </div>
                <div>
                    <button onclick="location.href='/events'">Events</button>
                </div>
            </div>
            <div class="right">
                <div>
                    <h1>Madspild er et stort problem i danmark</h1>
                    <p>Hver dag bliver der smidt betydelige mængder mad ud i de danske husholdninger.</p>
                    <p>Men selvom det største madspild sker, inden maden bliver solgt til forbrugerne, kan man alligevel gøre en forskel.</p>
                    <img src="../static/images/madspild.png" width="58%" th:src="@{/images/madspild.png}"/>
                    <img src="../static/images/stopmadspild.png" width="30%" th:src="@{/images/stopmadspild.png}"/>
                    <p>osv........</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>(c) The Boys 2022</p>
        <p>Cookies og persondata</p>
        <p>Bla bla bla ...</p>
    </div>
</body>
</html>