<!DOCTYPE html>
<html lang=\"en\" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild : Links</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="row">
    <div class="left">
        <div>
            <button class="point" onclick="location.href='/'">Hvad er madspild?</button>
        </div>
        <div>
            <button class="point" onclick="location.href='/5raad'">5 råd</button>
        </div>
        <div>
            <button class="point" onclick="location.href='/links'">Links</button>
        </div>
        <div>
            <button class="point" onclick="location.href='/events'">Mere info</button>
        </div>
    </div>
    <div class="right">
        <div>
            <h2>Her er nogle eksterne resourcer omkring madspild.</h2>
            <ul>
                <li>
                    <a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-begraenser-du-madspild-i-husholdningen.aspx"
                       target="_blank">Fødevarestyrelsen</a>
                    :Sådan begrænser du madspild i husholdningen.
                </li>
                <li><a href="https://www.stopspildafmad.dk/" target="_blank">Stop spild af mad</a>
                    :Danmarks største bevægelse mod madspild.
                </li>
                <li><a href="https://altomkost.dk/fakta/madspild/" target="_blank">Alt om kost</a>
                    :Viden og anbefalinger om sund og klimavenlig mad og måltider.
                </li>
                <li>
                    <a href="https://madspild.rema1000.dk//?gclid=EAIaIQobChMI7Izh1vil9gIV_EeRBR09uQ8wEAAYASAAEgJDNPD_BwE"
                       target="_blank">REMA 1000</a>
                    :Meget mindre madspild.
                </li>
                <li><a href="https://www.arla.dk/om-arla/omtanke/artikler/hvorfor-er-madspild-et-problem/"
                       target="_blank">Arla</a>
                    :Hvorfor er madspild et problem?
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <p>(c) The Boys 2022</p>
    <p>Cookies og persondata</p>
    <p>Bla bla bla ...</p>
</div>
</body>
</html>